apiview==1.3.25
appdirs==1.4.3
asgiref==3.2.7
astroid==2.3.3
attrs==19.1.0
autopep8==1.4.4
bcrypt==3.1.7
blinker==1.4
certifi==2019.6.16
cffi==1.14.0
chardet==3.0.4
click==7.1.2
colorama==0.4.3
coreapi==2.3.3
coreschema==0.0.4
dal-admin-filters==0.3.3
defusedxml==0.6.0
diff-match-patch==20181111
distlib==0.3.0
dj-config-url==0.1.1
dj-database-url==0.5.0
Django==3.0.5
django-autocomplete-light==3.5.1
django-crispy-forms==1.9.0
django-filter==2.2.0
django-import-export==2.0.2
django-rest-framework==0.1.0
django-rest-registration==0.5.0
djangorestframework==3.10.2
djangorestframework-jwt==1.11.0
dnspython==1.16.0
drf-yasg==1.16.1
email-validator==1.1.0
et-xmlfile==1.0.1
filelock==3.0.12
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
gunicorn==19.9.0
idna==2.8
inflection==0.3.1
isort==4.3.21
itsdangerous==1.1.0
itypes==1.1.0
jdcal==1.4.1
Jinja2==2.10.1
jsonschema==3.2.0
lazy-object-proxy==1.4.3
MarkupPy==1.14
MarkupSafe==1.1.1
mccabe==0.6.1
odfpy==1.4.1
openapi==1.1.0
openpyxl==3.0.3
packaging==19.1
Pillow==8.1.1
post==2019.4.13
posts==0.2.2
psycopg2-binary==2.8.5
pycodestyle==2.5.0
pycparser==2.20
PyJWT==1.7.1
pylint==2.4.4
pyparsing==2.4.2
pyrsistent==0.16.0
pytz==2019.1
PyYAML==5.3.1
requests==2.22.0
ruamel.yaml==0.16.0
ruamel.yaml.clib==0.1.0
six==1.12.0
SQLAlchemy==1.3.16
sqlparse==0.3.0
tablib==1.1.0
uritemplate==3.0.0
urllib3==1.25.3
virtualenv==20.0.16
virtualenvwrapper-win==1.2.6
Werkzeug==1.0.1
whitenoise==4.1.3
wrapt==1.11.2
WTForms==2.3.1
xlrd==1.2.0
xlwt==1.3.0